// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');


.event.left {
	background-color: #101010;
	height: 250px;
	color: #C8C8C8;
}
.event.right {
	background-color: #101010;
	height: 250px;
	color: #C8C8C8;
}
.popover.left{
	background-color: #202020;
	margin-top: -100px;
	margin-left: 135px;
}
.popover.right{
	background-color: #202020;
	margin-top: -90px;
	margin-left: -270px;
}
.modal{
	background-color: #202020;
	color: #C8C8C8;
}
.modaldetails{
	padding: 20px;
}
.event p {
	margin: 4px 0;
}
.event title {
	font-size: 26px;
	color: #000; 
}
.event.hover {
	background-color: #101010;
}
.event .admin {
	display: none;
	color: #C8C8C8;
}
.event.hover .admin {
	display: inline;
	color: #C8C8C8;
}
.hide {
	display: none;
}
.bigtext{
    font-size: 24pt;
    font-style: bold;
}


a img {
    display: block;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a:hover img {
    opacity: 0.6;
            
}
div.hoverText {
	display: none;
}

