<div class="maincontainer">
	<div class="offset">
		<h3><%= @timeline_object.title %></h3>
		<%= render 'form' %>

		<%= link_to 'Show', @timeline_object %> |
		<%= link_to 'Back', timeline_objects_path %>
	</div>
</div>