<div class="page-header">
  <h1>Welcome to Timeline.</h1>
</div>
<div class="container span5" align="center">
	<%= link_to "Get Started", new_event_path, class: "btn btn-inverse btn-large btn-block" %>
</div>