<div class="maincontainer pattern-background">
  <div class="offset">
    <div class="container-fluid">
      <div class="span12 offset2">
        <h2 class="with-yellow">About</h2>
      </div>
      <div class="entry offset2">
        <div class="wordwrap">
        <p class="yellow center"> Timeline is a simple website aimed at allowing users to upload pictures
          display them in a chronological manner.  </p>
        <p class="yellow"> Why? </p>
        <p class="blue"> Well, who wouldn't want to display pictures in order of time and date? Timeline can be used
          to display timed and dated media (right now only photos!) simply for viewing yourself, sharing with others,
          or education. </p>

        <p class="yellow"> How? </p>
        <p class="blue"> Right now it's pretty straight forward. Follow the prompts to create a new timeline and add media from your computer. Then you can enter the time, date, and any details. Oh, and you can edit and delete after creation!</p>
        <p class="yellow"> Who? </p>
         <p class="blue"> Right now, Timeline is the sole creation and Senior Project of Meredith Myers, undergraduate at American University.</br>
        You can check out the code at <a href="https://github.com/mmyers89/timeline" target="_blank">Github</a> </br>
        And, if you questions, comments or problems, you can email the developer directly at <a href="mailto:myers@myersmeredith.com " target="_blank">myers@myersmeredith.com</a></p>
        </div>
      </div>

    </div>
  </div>
</div>