<div class="maincontainer pattern-background">
  <div class="offset">
    <div class="container-fluid">
      <div class="span12 offset2">
        <h2 class="with-yellow">Terms & Conditions</h2>
      </div>
      <div class="entry wordwrap">
        <p class="yellow center"> It's simple. By clicking "Sign Up", you're agreeing to three things: </p>
      
        <p class="terms blue"><strong>1.</strong> <em> Don't upload images that aren't yours or you wouldn't want your mother to see. </em>   If you do,
        it isn't the fault of the website owners because... </p>
        <p class="terms blue"><strong>2.</strong> <em>The website owners do not own any of the content on this site,</em>   and in no way claim responsibility for content, external links, or inaccuracies added by users. </p>
        <p class="terms blue"><strong>3.</strong> <em>Finally,</em> if you upload something the website owners determine is under copyright or  deemed  inflammatory,
           the website owners reserve the right to remove the content. </p>
        
        <p class="terms blue center"><strong>That's it. For the time being, this website is only for educational purposes, and, if you oblige  the three statements above, it's yours to enjoy.</strong></p>
      </div>

    </div>
  </div>
</div>