/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 */
.pattern-background
{
  background-image:url('blackorchid.png');
}
.buttoncontainer {
  float:center;
}
 .modal-header {
  border-bottom: 1px solid #FF9800;
 }

.navbar .nav > li > a {
  color: #7E8AA2;
}
 .navbar-inverse .brand {
    color: #FF9800;

 }
 .offset {
  padding-top: 80px;
  padding-left: auto;
  padding-right: auto;
 }
.maincontainer {
  height: 100%;
  width: 100%;

}
.isotopecontainer {
  width:95%;
  margin: auto;
}
.entry {
  position:absolute;
  top:25%;
  background-color: #101010;
  border-radius: 15px;
  padding: 20px;
  opacity: .95;
}
.entry-no-color {
  position:absolute;
  top:25%;
  background-color: #101010;
  border-radius: 15px;
  padding: 20px;
  opacity: .95;
}
.image-wrap {
  display: block;
  background-image: url('img1.jpg');
  background-repeat:no-repeat;
  background-size:100% 100%;
  min-width: 50%;
  height: 100%;
  width: 100%;
}
.page-header {
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-bottom: 1px solid #FFF;


}
.btn-block {
  color: #C8C8C8;
}
.homelinks {
  position:absolute;
  top:65%;
  background-color: #101010;
  border-radius: 15px;
  padding: 20px;
  opacity: .9;

}
h1 {
  border-bottom: 0px solid #fff;
  padding: 2px;
  margin-bottom: 13px;
  color: #FF9800;

}
h3.with-blue{
    border-bottom: 1px solid #263248;
    padding-bottom: 5px;
    color: #7E8AA2;
}
h2.with-yellow{
  border-bottom: 1px solid #FF9800;
  padding-bottom: 5px;
}
h2.modalheader {
  color: #7E8AA2;
  border-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:0px;
}
p.center {
  text-align: center;
}
p.yellow {
  color: #FF9800;
  font-size: 18px;
}
p.blue {
  color: #7E8AA2;
}
p.terms {
  font-size: 16px;
}
.form-actions{
  background-color: #080808;
  border-top: 0px;
}
.wordwrap {
  width: 750px;
  word-wrap: break-word;
}
body {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
  padding-bottom: 0px;
  background-image:url('blackorchid.png');
  color: #C8C8C8;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  width: 100%;
  height: 100%;
  
}
html {
  height: 100%;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {

  &.field, &.actions {
    margin-bottom: 5px;
  }
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: black;
  display: table;
}


#error_explanation {
  width: 450px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #000000;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #000;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }

/* ------------------ isotope ------------------ */
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

}
.btn-custom {
  background-color: hsl(219, 21%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5b0c4", endColorstr="#808fac");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a5b0c4), to(#808fac));
  background-image: -moz-linear-gradient(top, #a5b0c4, #808fac);
  background-image: -ms-linear-gradient(top, #a5b0c4, #808fac);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b0c4), color-stop(100%, #808fac));
  background-image: -webkit-linear-gradient(top, #a5b0c4, #808fac);
  background-image: -o-linear-gradient(top, #a5b0c4, #808fac);
  background-image: linear-gradient(#a5b0c4, #808fac);
  border-color: #808fac #808fac hsl(219, 21%, 56%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
  -webkit-font-smoothing: antialiased;
}