// Place all the styles related to the TimelineObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
	padding-top: 70px;
}
.timelineindexheader {
	padding: 10px;
	border-bottom: 3px solid #080808;
}
.timelinethumb {
	width: 100px;
	padding-right: 10px;
}
blockquote {
	border-left: 5px solid #263248;
}
p.title {
	font-size: 22px;
	color: #FF9800; 
	padding-bottom: 4px;
}
.displaytimelinetitle {
	margin-left: 0px;
}
.isotopecontainer {
/*height: 100%;*/
}
.item {
	padding: 10px;
	border-radius: 15px;
	background-color: #282828;
}
.eventnew {
	border-top: 3px solid #080808;
	padding: 10px;
}
.element.other.nonmetal {
	background-color: #282828;
	font-size: 2em;
}

.element .name {
	
	font-size: 0.6em;
	bottom: 20.8em;
	color: #7E8AA2;
}
.element .weight {
	font-size: 0.5em;
	left: 0.7em;
	bottom: 23.5em;
	color: #7E8AA2;
}
.element .symbol {
	left: 0.05em;

}
.element .number {
	font-size: 1.15em;
	color: #FF9800;
	font-weight: normal;

}
h2 {
	color: #7E8AA2;
}
