// Place all the styles related to the TimelineObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timelineindexheader {
	padding: 10px;
	border-bottom: 3px solid #080808;
}
.timelinethumb {
	width: 100px;
	padding-right: 10px;
}
blockquote {
	border-left: 5px solid #282828;
}
p.title {
	font-size: 22px;
	color: #fff; 
	padding-bottom: 4px;
}
.displaytimelinetitle {
	margin-left: 0px;
}
.eventcontainer.span6.left {
	border-right: solid 2px #202020;
	margin-left: 0px;
	padding: 10px;
}
.eventcontainer.span6.right {
	border-left: solid 2px #202020;
	margin-left: 0px;
	padding: 10px;
}
.event {
	border-radius: 15px;
	background-color: #282828;
}
.event.left {
	background-color: #282828;
	align: center;
	color: #C8C8C8;
	padding: 10px;
}
.event.right {
	background-color: #282828;
	align: center;
	color: #C8C8C8;
	padding: 10px;
}
.eventnew {
	border-top: 3px solid #080808;
	padding: 10px;
}